/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#hidingScrollBar{
  overflow: hidden;
}

#track {
    width: 366px;
    height: 5px;
    position: absolute;
    background-color: #A6A7A9;
    left: 17px;
    z-index: 10;
    cursor: pointer;
}
#progress {
    float: left;
    height: 5px;
    width: 0%;
    background: #00CC99;
    cursor: pointer;
}
#handler {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #00CC99;
    top: 50%;
    left: 0%;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 5;
}
