<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Usuario</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/miCss.css" type="text/css" rel="stylesheet">
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/lib/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-route.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.min.js"></script>
</head>
<body>

  <!-- BARRA NAVEGACION -->
  <nav>
    <div class="nav-wrapper light-blue accent-4">
        <ul class="left hide-on-med-and-down">
            <li><a href="javascript:history.back()" class="btn-floating btn-large waves-effect waves-light light-green accent-4 valign-wrapper" style="left: 15px"><i class="medium material-icons">arrow_back</i></a></li>
            <li><span style="font-size:250%">&nbsp;Crear lista reproducción: </span></li>
            <li><a ng-click="crear()" class="btn-floating btn-large waves-effect waves-light light-green accent-4 valign-wrapper" style="left: 15px"><i class="medium material-icons">send</i></a></li>
            <li><a ng-click="eliminar()" class="btn-floating btn-large waves-effect waves-light light-green accent-4 valign-wrapper" style="left: 15px"><i class="medium material-icons">delete_forever</i></a></li>
        </ul>
    </div>
  </nav>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col s10">
                <ul class="collection with-header">
                    <li class="collection-header">
                        <h5> {{nameL2}} </h5>
                        
                        <div class='input-field col s11'>
                            <input class="validate"  type='text' ng-model="nameL" />
                            <label for='surname'>Enter a name</label>
                        </div>
                    </li>
                    <li ng-repeat="cancion in nuevas track by $index" class="collection-item">
                        <div>{{cancion.name}} - {{cancion.authorName}}
                            <a class="secondary-content" href="javascript:"  ng-click="quitarS(cancion.id,$index)">
                                <i class="material-icons">remove_circle_outline</i>
                            </a>
                        </div>
                    </li>
                    
                    
                </ul>
            </div>
            
        </div>
    </div>


</body>
</html>