
  <!-- FOTO USUARIO -->
  <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="images/cover.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <ul class="collection">
                <li class="collection-item">Nombre<h5 id="nombreUser">{{user.name}}</h5></li>
                <li class="collection-item">Usuario<h5 id="usuarioUser">{{user.username}}</h5></li>
                <li class="collection-item">Email<h5 id="emailUser">pepe@gmail.com</h5></li>
                <li class="collection-item">Desc<h6 id="descUser">{{user.name}}</h6></li>
              </ul>
            </div>
          </div>
        </div>
  </div>

  <!-- AMIGOS -->
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <h4>Lista de Amigos</h4>
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="collection" id="listaAmigos">
              <div ng-repeat="friend in user.friends">
                <a href="#user/{{friend.id}}" class="collection-item">{{friend.name}}</a>
              </div>  
            </div>
        </div>
  </div>
  <!-- LISTA REPRODUCCION -->
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <h4>Listas de Reproduccion</h4>
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="collection" id="listaRepro">
                <div ng-repeat="lista in user.playlists">
                    <a href="#songs/{{lista.id}}" class="collection-item">{{lista.name}}- {{lista.songs.length}} canciones</a>
                </div>
            </div>
        </div>
  </div>
